.cards{
    background-image: url('../../../../../assets/pngwing.com\ \(5\).png');
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height:700px;
    padding-top: 50px;
    width: 100%;
    .cards-container{
        display: flex;
        position: relative;
        justify-content: space-around;
        align-items: center;
        height:700px;
        width: 100%;
        flex-wrap: wrap;
        .cards-container__item{
            height: 400px;
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
            padding: 20px;
            width: 300px;
            background-color: white;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            transition: 0.5s box-shadow;
            box-shadow:  0 0 10px grey;
            p{
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            &.--1{
                align-self: flex-start;
            }
            &.--3{
                align-self:flex-start ;
            }
            &:hover{
                
                box-shadow: 0 0 20px black;
            }
        }
    }
}