.home-slider{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    background-color: black;
    background-image: url('../../../../assets/pngwing.com\ \(5\).png');
    background-position: center;
    background-size: cover;
    position: fixed;
    .home-slider__about{
        background-color: rgba(0, 0, 0, 0.63);
        width: 700px;
        .home-slider__show{
            width: 100%;
            display: flex;
            align-items: center;
            height: 50px;
            justify-content: center;
            gap: 20px;
            span{
                display: inline-block;
                height: 20px;
                width: 20px;
                border-radius: 50%;
            }
        }
    }
    .home-slider__images{
        height: 400px;
        width: 700px;
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 20px;
        background-image: url('../../../../assets/carSlider1.jpg') ;
        background-repeat: no-repeat;
        background-size:cover;
        background-color: rgba(39, 36, 36, 0.733);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-position: center;
        button{
            background: none;
            background-image: url('../../../../assets/s_right_arrow_icon_263645.svg');
            height: 50px;
            width: 50px;
            border-radius: 20px;
            background-color: rgba(245, 245, 220, 0.5);
            background-size: cover;
            // box-shadow: 0 0 10px gray;
            cursor: pointer;
            border: none;
        }
    }
}